<!DOCTYPE html>
<html>
<head>
<title>$!title</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name = "format-detection" content="telephone = no" />
	#LoadCSS("resources/h5/css/reset")
	#LoadJS("resources/h5/js/reponse")
	<style type="text/css">
    .con {
        height: auto;
        padding: 0.34rem 0.58rem 0.34rem 0.6rem
    }
    
    .unit {
        margin-top: 0.34rem
    }
    
    .unit:nth-child(1) {
        margin-top: 0
    }
    
    .con h2 {
        color: #4f5051;
        line-height: 0.42rem;
        margin-bottom: 0.46rem
    }
    
    .con p {
        color: #848c9a;
        line-height: 0.36rem;
        border-bottom: 2px solid #d8d8d8;
        padding-bottom: 0.3rem
    }
    </style>
</head>
<body>
  <!-- $scoredesc -->
	<div class="con">$!scoredesc

		<div class="unit">
            <h2 class="f32">什么是积什么是积分什么是积分什么是积分什么是积分什么是积分什么是积分分</h2>
            <p class="f26">积分说明是H5页面，又后台编辑生成，保存同步至ＡＰＰ中。</p>
        </div>
        <div class="unit">
            <h2 class="f32">什么是积分</h2>
            <p class="f26">积分说明是H5页面，又后台编辑生成，保存同步至ＡＰＰ中。</p>
        </div>
		
      
    </div>
</body>
</html>