<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>$!title</title>
    #LoadCSS("resources/h5/css/reset")
    #LoadJS("resources/h5/js/zepto.min")
     #LoadJS("resources/h5/js/reponse")
    <style type="text/css">
    body {
        background: #fff;
    }

    .detail_main {
        padding: 0.42rem 0.4rem;
        background: #fff;
        margin-top: 1.2rem;
    }
    
    .detail_main h2.f40 {
        color: #333;
        margin-bottom: 0.24rem;
    }
    
    .detail_main .time {
        color: #415051;
        padding-bottom: 0.28rem;
        border-bottom: 1px solid #d8d8d8;
    }
    .detail_main .detailcon {
        color: #848c9a;
        margin-top: 0.28rem;
        line-height: 0.52rem
    }
    
    .detail_main .detailcon h3 {
        margin-bottom: 0.05rem;
    }
    
    .detail_main .h3 {
        color: #848c9a;
        margin-top: 0.28rem;
    }
    
    .detail_main img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0.38rem 0;
    }
    
    .top {
        position: fixed;
        top: 0;
        background: #202c3a;
        width: 100%;
        height: 1.2rem;
    }
    
    .top div {
      
        float: left;

    }
    .top>div:nth-child(1){
        background: url("$env.getWebURL('resources/h5/images/img_logo@2x.png')") no-repeat 0.62rem center; width: 5.5rem;
        background-size: 0.7rem,0.7rem; height: 1.2rem;
    }
     .top>div:nth-child(2){
       width: 2rem; height: 1.2rem;
       
    }
    .top>div:nth-child(2) button{

    }
    .closebanner{
        width: 0.2rem;height: 0.2rem;margin: 0.5rem 0.2rem 0 0.22rem;
         background: url("$env.getWebURL('resources/h5/images/icon_close@2x.png')") no-repeat center center; 
        background-size: 0.2rem,0.2rem;
    }
    .text{padding:0.22rem 0.2rem 0 0.9rem;color: #fff;}

    #applink {
        width: 1.48rem;
        height: 0.74rem;
        border-radius: 0.08rem;
        background: #0b3966;
        color: #fff;
        margin: 0.23rem auto;
        display: block;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .3);
    }
    .f40{font-weight: bold}
    </style>
</head>

<body>
    <div class="top clearfix">
        <div class="f28">
            <div class="closebanner"></div>
            <div class="text">
                <p class="f28">新通移民</p>
                <p class="f24">上新通移民体验更多精彩内容</p>
            </div> 
        </div>
        <div>
            <button class="f28" id="applink">打开APP</button>
        </div>
    </div>
    <div class="detail_main">
        <h2 class="f40">$!title</h2>
        <p class="time f26">时间：$!time</p>
        <!-- <p class="addr f26"></p> -->
        <div class="detailcon f32">
            $!content
        </div>
    </div>
    <script type="text/javascript">
    $(function() {
        $("#applink").on('click', function(event) {
            event.preventDefault();
            applink();
        });
        $(".closebanner").on('click',  function(event) {
        	event.preventDefault();
        	  $(".top").hide();
        	$(".detail_main").css({
        		marginTop: '0',
        	});
        });
    })

    function applink() {
        window.location = 'xtym://platformapi/startapp';
        var clickedAt = +new Date;
        setTimeout(function() {
            !window.document.webkitHidden && setTimeout(function() {
                if (+new Date - clickedAt < 2000) {
                    window.location = 'https://itunes.apple.com/us/app/zhe-jiang-yi-dong-shou-ji/id898243566#weixin.qq.com';
                }
            }, 500);
        }, 500)

    }
    </script>
</body>

</html>
